<!-- First Image -->
<div class="item-container">
    <img class="item" routerLink="/papad" src="../../../assets/pp1.jpeg" alt="restaurants curated for pizza">
    <p>Papad</p>
  </div>  
  
  <!-- Second Image -->
  <div class="item-container">
    <img class="item" routerLink="/papad" src="../../../assets/p6.jpeg" alt="restaurants curated for pizza">
    <p>Papad</p>
  </div> 
  
  <!-- Third Image -->
  <div class="item-container">
    <img class="item" routerLink="/papad" src="../../../assets/pp3.jpeg" alt="restaurants curated for pizza">
    <p>Masala Papad</p>
  </div>
  
  <!-- Fourth Image -->
  <div class="item-container">
    <img class="item" routerLink="/papad" src="../../../assets/pp4.jpeg" alt="restaurants curated for north indian">
    <p>Roasted Papad</p>
  </div>
  
  <!-- Fifth Image -->
  <div class="item-container">
    <img class="item" routerLink="/papad" src="../../../assets/pp5.jpeg" alt="restaurants curated for pizza">
    <p>Fry Papad</p>
  </div>
  
  <!-- Sixth Image -->
  <div class="item-container">
    <img class="item" routerLink="/papad" src="../../../assets/p1.jpeg" alt="restaurants curated for pizza">
    <p> Fry Papad</p>
  </div>
  
  <!-- Seventh Image -->
  <div class="item-container">
    <img class="item" routerLink="/papad" src="../../../assets/p2.jpeg" alt="restaurants curated for north indian">
    <p> Fry Papad</p>
  </div>
  
  <!-- Eighth Image -->
  <div class="item-container">
    <img class="item" routerLink="/papad" src="../../../assets/p3.jpeg" alt="restaurants curated for pizza">
    <p>Masala Papad</p>
  </div>
  
  <!-- Ninth Image -->
  <div class="item-container">
    <img class="item" routerLink="/papad" src="../../../assets/p4.jpeg" alt="restaurants curated for north indian">
    <p>Roasted Papad</p>
  </div>
  
  <!-- Tenth Image -->
  <div class="item-container">
    <img class="item" routerLink="/papad" src="../../../assets/p5.jpeg" alt="restaurants curated for pizza">
    <p>Fry Papad</p>
  </div>
  