<!-- Navbar with Cart Icon showing dynamic count -->

<div>
  <nav class="navbar navbar-expand-sm">
    <img class="navbar-brand" src="../assets/lg1.png" alt="Logo" style="width: 50px; height: 50px; border-radius: 10px;">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us">About-Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/service">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/product">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">Contact Us</a>
        </li>
      </ul>
      <!-- Cart Icon with Dynamic Count -->
<div class="cart-container">
  <!-- Cart Icon with Dynamic Count -->
  <i class="fa-duotone fa-solid fa-cart-shopping custom-icon" (click)="openCart()">
    <!-- Display the cart count only if there are items -->
    <span class="cart-count" *ngIf="cardItemCount > 0">{{ cardItemCount }}</span>

  </i>
  
</div>
 
      <!-- Other content goes here -->

       <form class="d-flex">
        <button class="btn btn-primary me-2" routerLink="/login">Login</button>
        <button class="btn btn-primary me-2" routerLink="/signup">Signup</button>
        <input class="form-control me-2" type="text" (keyup)="searchProduct($event)" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </nav>

  <router-outlet></router-outlet>
 
  <app-footer> </app-footer>
</div>
