<div class="contact-us">
    <h1>Our Details</h1>
    <div class="row">
        <div class="col-md-9">
            <p>An ecommerce website's contact us page should provide a way for customers to reach out, while also offering guidance and information about the business.</p>
            <p>Contact lenses are artificial devices applied on the eye's front surface to substitute for the anterior corneal surface. They help correct the cornea's refractive error, irregularities, and surface abnormalities.</p>
            <p>On your Android phone or tablet, open the Contacts app. Contacts by label: At the top left, tap Menu. Under "Labels," select a label. Contacts for another account: At the top right, tap your Profile picture. Select an account.</p>
            <p>The contacts for all your accounts: At the top left, tap Menu, All accounts.</p>
            <p>It serves as a pre-built platform that simplifies the process of setting up and running an online business. An e-commerce framework typically includes features and functionalities for product management, shopping cart functionality, payment processing, order fulfillment, inventory management, and more.</p>
            
            <iframe [src]="iframeSrc" frameborder="0" width="100%" height="400" style="border: 0;" allowfullscreen></iframe>
        </div>

        <div class="col-md-3">
            <h3>Postal Address</h3>
            <p>Address 1: 1234 Sample Street</p>
            <p>Address 2: Bicholi Mardana</p>
            <p>City: <strong>Indore</strong></p>
            <p>State: <strong>Madhya Pradesh</strong></p>
            <p>Country: <strong>India</strong></p>
            <p>Pincode: 452020</p>

            <p>Email:</p>
            <p><strong>Office:</strong> officesample.com</p>
            <p><strong>Personal:</strong> personalsample.com</p>

            <h3>Phone</h3>
            <p><strong>Office:</strong> +91 7318465838</p>
            <p><strong>Personal:</strong> +91 0000000000</p>
        </div>
    </div>
</div>
