
<div class="row">
  <div *ngFor="let product of products | slice:0:displayCount" class="col-6 col-md-4 col-lg-2 mb-4">
    <div class="card h-100">
     <img
[src]="product.productImageUrl"
alt="{{ product.productName }}"
        class="card-img-top"
        height="150px"
        width="150px"
      />
      <div class="card-body">
        <h5 class="card-title">{{ product.productName }}</h5>
        <p class="card-text">{{ product.productDescription }}</p>
        <p class="card-text">Price: ₹{{ product.productPrice }}</p>
      </div>
    </div>
  </div>
</div>

<!-- See More button -->
<button *ngIf="displayCount < products.length" (click)="seeMore()" class="btn btn-primary mt-3">
  See More
</button>

<!-- No products message -->
<p *ngIf="products.length === 0" class="text-muted">No products available</p>
</div>


close here


<div class="row py-lg-5">
  <div class="col-lg-6 col-md-8 mx-auto">
    <h1 class="fw-light"> Ecommerce-Website</h1>
    <p class="lead text-body-secondary">Ecommerce content is material businesses create to attract and retain potential customers online.
      E-commerce services are tools and solutions that help businesses sell products online. T
    </p>
    <p>
      <a class="btn btn-primary my-2" [routerLink]="['/product']">Product Section</a>

      <a href="#" class="btn btn-secondary my-2">Secondary Section</a>
    </p>
  </div>
</div>
</section>